*.pyc
**/*.deps/
/.ccls-cache/
/*.pc
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
Makefile
Makefile.in
/missing
/libtool
/ltmain.sh
/src/.libs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/lrx-comp
src/lrx-proc
src/irstlm-ranker
src/process-tagger-output
src/yasmet
src/multitrans
src/apertium-validate-lrx
stamp-h1

/python/apertium_lex_tools.py
/python/apertium_lex_tools_wrap.cpp
/python/lex_tools_wrap.cpp
/python/lextools.py
/python/setup.py
/python/build*
*.egg-info/
*.egg
/testing/*.bin
/testing/*.output
/compile_commands.json
/.projectile

/.vscode/
/locales/Makefile
/locales/Makefile.in
*.res
*.dat
