name: apertium-lex-tools CI Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: dependencies
      run: |
           sudo apt-get -qy update
           sudo apt-get -qfy install apt-utils wget ca-certificates
           wget -q https://apertium.projectjj.com/apt/install-nightly.sh -O - | sudo bash
           sudo apt-get -qfy install --no-install-recommends build-essential automake autotools-dev pkg-config libxml2-dev libirstlm-dev lttoolbox-dev python3-dev python3-setuptools swig
    - name: autoreconf
      run: autoreconf -fvi
    - name: configure
      run: ./configure --enable-yasmet --enable-irstlm --enable-python-bindings
    - name: build
      run: make -j4 V=1 VERBOSE=1
    - name: tests
      run: make test
    - name: make install
      run: sudo make install
